/* Base CSS*/
body {
    width: auto;
    margin: auto;
    background: #f5f5f5;
    font-family: Arial;
    padding-top: 100px;
}
a { 
    text-decoration: none;
    color: inherit;
}
header, 
section, 
article, 
footer {
    margin: auto;
    width: auto;
    overflow: hidden;
}
article {
    width: 980px;
    padding: 0 5px;
}
/* Header */
header { 
    position: fixed;
    width: 100%;
    height:100px;
    background: #f9f9f9;
    border-bottom: 1px solid #f1f1f1;
    top: 0;
    overflow: hidden;
    z-index: 10;
}

header .logo {
    background: url(../images/logo.png) center center no-repeat;
    margin-top: 33px;
    margin-left: 10px;
    float: left;
    width: 150px;
    height: 35px;
}

header nav {
    float:right;
    margin-top: 33px;
    margin-right: 10px;
}
header nav a {
    display:block;
    padding: 5px;
    color: #282828;
    float: left;
    margin: 10px;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}
header nav a:hover {
    color: #2e75b6;
}
header nav a.btn-download {
    background: #2e75b6;
    border-radius: 3px;
    height: 20px;
    padding: 5px 15px;
    color: #fff;
}
header nav a.btn-download:hover {
    background: #3484c0;
    color: #fff;
}
/* Middle Introudoction box */
section.middle {
    background: url(../images/back2.jpg) center center fixed no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}
.box {
    width: 400px;
    margin: 35px 10px 135px;
    float: left;
    color: #fff;
    text-align: center;
    border-right: solid 1px rgba(242, 242, 242, 0.32);
    padding: 140px 20px 140px 0;
}
.box span {
    font-size: 30px;
    padding: 5px;
    width: auto;
    display: block;
    margin: 1px auto;
    background: rgba(40, 40, 40, 0.8);
}
.box a.btn-show {
    font-size: 25px;
    padding:10px 5px;
    width: auto;
    position: relative;
    display: block;
    margin: 1px auto;
    background:rgba(46, 117, 182, 0.80);
}
.box a.btn-show:hover {
    background: rgba(46, 117, 182, 1);;
}
.box b {
    position: relative;
    font-weight: normal;
}
/* Label.css Show Case */
.image-frame {
    width: 600px;
    margin:170px auto 60px;
    float: right;
}
.image-frame img {
    width: 600px;
}
.settings {
    float: left;
    width: 350px;
    margin:120px 10px 60px;
}
.settings h1 {
    font-size: 1.3em;
    color:#282828;
    margin:15px auto 15px;
    font-weight: normal;
}
.settings p {
    padding: 5px;
    line-height: 1.2em;
}
.settings h1 a {
    float: right;
    padding: 5px;
    background: rgba(46, 117, 182, 0.80);
    color: #fff;
    border-radius: 3px;
    font-size: .5em;
}
.map:hover .overly { 
    opacity: 1;
    visibility: visible;
}
.map .overly {
    width: 100%;
    height: 200px;
    margin: 45px auto;
    z-index: 2;
    background: rgba(255, 255, 255, 0.61);
    border: 1px solid #bdbdbd;
    -webkit-transition: all 0.4s 1s ease;
    -moz-transition: all 0.4s 1s ease;
    -ms-transition: all 0.4s 1s ease;
    -o-transition: all 0.4s 1s ease;
}
.map {
    width: 600px;
    height: auto;
    background: #f5f5f5;
    margin:10px auto;
    position: relative;
}
.map.two {
    width: 350px;
}
.map svg {
    fill: #282828;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
.map a.out-top svg,
.map a.out-bottom svg {
    fill: rgb(197, 197, 197);
}
.map a:hover svg {
    fill: rgba(235, 50, 39, 1);
}
.map a.active svg {
    fill: #2e75b6;
}
.map a {
    height: 30px;
    float: left;
    cursor: pointer;
    text-align: center;
}
.map a span {
    text-align: left;
    text-transform: uppercase;
    color: rgb(203, 203, 206);
    font-size: 12px;
    margin-left: 35px;
}
.map a.out-top {
    margin-top: -30px;
}
.map a.out-bottom {
    margin-top: 23px;
}
.map a.top {
    width: 180px;
    margin: 5px;
}
.map a.middle {
    width: 180px;
    margin: 5px;
    margin-top: 50px;
}
.map a.bottom {
    width: 180px; 
    margin: 5px;
    margin-top: 25px; 
}
.map a.left,
.map a.right {
    width: 70px;
}
.map a.bottom.left,
.map a.bottom.right {
    line-height: 65px;
}
.settings a.set {
	padding:5px;
	border-radius:5px;
	border:1px solid transparent;
	cursor:pointer;
}
.settings a.set:hover {
    background: #f2f2f2;
	border-color:#ddd;
}
.settings a.set.active {
	color:#fff;
	background: rgba(52, 132, 192, 1);
}
.settings .result {
    background: #f2f2f2;
    border: 1px solid #ddd;
    color: #2e75b6;
    padding: 5px;
    border-radius: 3px;
    margin: 10px auto;
    visibility: hidden;
}
.settings .result.active {
    visibility: visible;
}
/* Blocks for specs */
.block.first {
    margin-top: 80px;
}
.block {
    width: 527px;
    height: auto;
    padding: 10px 0px;
    margin: 10px auto;
    background: rgba(242, 242, 242, 0.76);
    float: right;
}
.block .headline-icon {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    margin:-145px auto auto;
}
.easy { background:rgba(235, 50, 39, 0.8) url(../images/easy.png) center center no-repeat; }
.keyboard { background:rgba(235, 50, 39, 0.8) url(../images/keyboard.png) center center no-repeat; }
.licence { background:rgba(235, 50, 39, 0.8) url(../images/licence.png) center center no-repeat; }

.block h1 {
    color: #282828;
    text-align: left;
    font-size: 24px;
    margin: auto;
    padding: 0 23px;
}
.block p {
    color: #282828;
    text-align: justify;
    line-height: 26px;
    font-size: 18px;
    padding: 5px 20px;
    margin: auto;
}
.block p .labeled {
    background: #ddd;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    color: #f33c31;
    font-size: 14px;
    padding: 3px;
}
/* Sharing Section */
.share {
    background: #f2f2f2 url(../images/connect.png) left center no-repeat;
    border-top: 1px solid #ddd;   
    height: 60px;
}
.share ul {
    float: right;
    margin: 15px auto;
    list-style: none;
}
.share ul li {
    float: left;
}
/* The tweets about #intro-js */
section.timeline {
    background: url(../images/timeline-back.jpg) center center fixed no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}
.timeline h1 {
    width: 220px;
    font-size: 32px;
    color: #282828;
    font-weight: normal;
    float: right;
    margin: 150px 10px;
    text-shadow: 1px 1px 3px #000;
    padding: 50px;
    border-left: 1px solid rgba(36, 36, 36, 0.05);
}
.timeline h1 span {
    color: rgba(235, 50, 39, 1);
}
.timeline .emebed-tweet {
    float:left;
    margin: 80px 40px;
    width: 520px;
    height: 500px;
    background: url(../images/load.gif) center center no-repeat;
}
footer {
    background: #f9f9f9;
    height: 100px;
    border-top: 1px solid #ddd;
}
footer .usablica {
    width: 31px;
    height: 38px;
    background: url(../images/door.png) center center no-repeat;
    float: left;
    margin: 35px 10px;
    opacity: .5;
    display: inline-block;
}
footer .usablica:hover {
    opacity: 1;
}
footer p {
    float: left;
    margin: 43px auto;
    line-height: 1.5em;
    color: rgba(0, 0, 0, 0.50)
}
footer h2 span {
    width: 29px;
    height: 25px;
    display: inline-block;
    background: url(../images/love.png) bottom center no-repeat;
}
footer a:hover {
    color:#2e75b6;
}
footer h2 {
    float: right;
    margin: 36px auto;
    font-weight: normal;
    color: rgba(40, 40, 40, 0.71);
}